name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      target:
        description: 'Publish target'
        required: true
        default: 'testpypi'
        type: choice
        options:
          - testpypi
          - pypi

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: ${{ github.event_name == 'release' && 'pypi' || inputs.target }}
    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build package
        run: poetry build

      - name: Generate attestations
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: dist/*

      - name: Publish to TestPyPI
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.target == 'testpypi' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Publish to PyPI
        if: ${{ github.event_name == 'release' || inputs.target == 'pypi' }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: true
